<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dental Clinic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Login Activity as Launcher -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />

        <!-- Doctor Activities -->
        <activity
            android:name=".activities.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorPatientsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DoctorBillingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddDoctorActivity"
            android:exported="false" />

        <!-- Patient Activities -->
        <activity
            android:name=".activities.PatientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PatientDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PatientAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PatientBillingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DentalGuideActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddPatientActivity"
            android:exported="false" />

    </application>

</manifest>